body{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.half-width1{
    width: 50%;
}
.half-width img{
    width: 50%;

}
section{
    display: flex;
    margin-bottom:150px ;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 30%;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
/* first step end*/
.dream-big img{
    width:80%;
    border-radius: 50%;
}
.color{
    color: blueviolet;
}
.link-button2{
    text-decoration: none;
    padding: 10px 40px;
background-image: linear-gradient(blue red);
color:blue;
font-weight: 700;
border-radius: 10%;
background-color:tomato;
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
/*second step end*/
