body{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 2%;
}
h1{
    font-size: 50px;
}
span{
    color: orange;
}
.half-width1{
    width: 50%;
}
.half-width img{
    width: 50%;

}
section{
    display: flex;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    border-radius: 30%;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}